.router-link-exact-active{
    color: #1b55e2 !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 600;
}

.mostrar{
    display: block !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: rgb(136, 142, 168, .4) !important;
}

.btn-cerrar,.btn-eliminar{
    background-color: #f8538d !important;
    color: white !important;
}

.btn-guardar{
    background-color: #25d5e4 !important;
    color: white !important;
}

.dark-header{
    background-color: #3b3f5c;
    color: white;
}

.outline-badge-check{
    color:#25d5e4;
    background-color:transparent;
    border:1px solid #25d5e4;
}

.outline-badge-no-check{
    color:#f8538d;
    background-color:transparent;
    border:1px solid #f8538d;
}

.new-control.new-checkbox.checkbox-outline-check>input:checked~span.new-control-indicator{border:2px solid #25d5e4}

.new-control.new-checkbox.checkbox-outline-check>input:checked~span.new-control-indicator:after{border-color:#25d5e4}

.border-fieldset{
    border-color: rgb(136, 142, 168, .4) !important;
}
