
body {
        font-family: Arial, sans-serif; 
        font-size: 14px;
        width: 80%;

        margin: auto;
        display: block;
}

table{
        width: 100%;
}
table:not(#tabla-empleado){
        text-align: center
}

#tabla-datos:not(th):not(td){        
        background: lightslategray;
}

#tabla-datos, #tabla-datos td, #tabla-datos th
{
        border: solid 0.5pt lightslategray;
        background: #f1f2f3;
        
}

#fila-encabezado th{
        display: table-cell;
        vertical-align: middle;
}

#tabla-datos{
        margin-top: 2%; 
}

#tabla-datos td, #tabla-datos th{
      height: 50px;
}

#logo{
        float: left;
        margin-top: 1%;
        margin-left: 2%;
        margin-right: 2%;
}

#tabla-encabezado{
        text-align: center;
        width: 100%;
}

#tabla-encabezado h3,
#tabla-encabezado h5{
        margin-top: 0;
        margin-bottom: 0;  
}

#tabla-encabezado h4{
        margin-top: 2%; 
}

#tabla-encabezado td{
        width: 30%;
}



#codigo{
        float: right;
        margin-right: 10%;
}

#imagen{
        float: left;
        width: 25%;
        align-items: left; 
}

footer{
        bottom: 0;
        position: relative;
        margin-top: 5%;
        margin-bottom: 1%;
        width: 100%;
        height: 40px;
}

#pie td{
        text-align: center;
        
}
.info{
        width: 25%;
        border-bottom: solid gray; 
}